
.idea/*
reframed.egg-info/*
*.pyc
tests/data/model_cobra.xml.gz
tests/data/model_fbc2.xml.gz
docs/_build/*
build/*
dist/*
.eggs/*
.tox/*
.vscode/*
tests/main.py
tests/gurobi.log
tests/tmp.py
tests/data/model_cobra.xml.gz
tests/data/model_fbc2.xml.gz
.DS_Store
